body{
    background-color: whitesmoke;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 26px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 35px;
}
    
.container > header {
    padding: 25px;
    display: flex;
    color: grey;
    background-color: blue;
    justify-content: space-between;
}

.about-me{
    display: flex;
}

.about-me img{
    margin-right: 16px;
    margin-bottom: 16px;
}



article{
    width: 50%;
}
article > img{
    width: 100%
}

#work{
    display: flex;
    flex-wrap: wrap;
    
}



footer{
    padding: 25px;
    display: flex;
    color: grey;
    background-color: yellow;
    flex: flex-end;
}

@media screen and (max-width: 768px){
    body,p{
        font-size: 16px;
        line-height: 24px;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    nav a:first-of-type{
        margin-left: 0;
    }

.}
